@import '~bootstrap/scss/bootstrap';

body {
  background-color: lightgray;
}

.info {
  background-color: lightgray;

  h3 {
    text-align: center;
    color: dodgerBlue;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
